*{
    font-family: Arial, Helvetica, sans-serif;
}
    :root{
        --primary:#1824a6;
        --secondary:#8278d9;
        --accent:#ececea;
    }
    
    body{
        background:linear-gradient(135deg,var(--primary),var(--secondary));
        padding: 0;
        margin: 0;
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container{
        background-color: var(--accent);
        height: 500px;
        width: 700px;
        text-align: center;
        border-radius: 5px;
    }

    input{
        font-size: 17px;
        width:100px;
        font-weight:700; 
    }

    button{
        font-size: 17px;
        width: 100px;
        padding: 7px; 
        font-weight:700; 
        background-color: #1d1c1c;
        color:var(--accent);
        border-radius: 5px;
        border:none;

    }
    
    button:hover{
        background-color:  #3b3a3a;
    }
    
    button:active{
        background-color: #3b3a3a;
    }
    #diceNumber{
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 20px;
        font-weight:700;   
    }
    
    img{
        width:100px;
        height: 100px;
    }